In [1]:
from math import sqrt
import random
import pandas as pd

In [13]:
def euclidean_distance(row1, row2):
    distance = 0.0
    for i in range(len(row1)-3):
        distance += (row1[i] - row2[i])**2
    return sqrt(distance)

In [9]:
def get_neighbors(train, test_row, num_neighbors):
    distances = list()
    for train_row in train:
        dist = euclidean_distance(test_row, train_row)
        distances.append((train_row, dist))
    distances.sort(key=lambda tup: tup[1])
    neighbors = list()
    for i in range(num_neighbors):
        neighbors.append(distances[i][0])
    return neighbors

In [10]:
def predict_classification(train, test_row, num_neighbors):
    neighbors = get_neighbors(train, test_row, num_neighbors)
    output_values = [row[-1] for row in neighbors]
    prediction = max(set(output_values), key=output_values.count)
    return prediction

In [11]:
data = pd.read_csv('/content/iris.data', sep=",")
data

       x    y    A    B           Class
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
data["Class"] = data["Class"].replace("Iris-setosa",0)
data["Class"] = data["Class"].replace("Iris-versicolor",1)
data["Class"] = data["Class"].replace("Iris-virginica",2)

In [15]:
Test = [5,8]
predict_classification(data,Test,5)

'A'