In [1]:
from math import sqrt
import random
import pandas as pd

In [11]:
data = pd.read_csv('/content/iris.data', sep=",")
data

       x    y    A    B           Class
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
data["Class"] = data["Class"].replace("Iris-setosa",0)
data["Class"] = data["Class"].replace("Iris-versicolor",1)
data["Class"] = data["Class"].replace("Iris-virginica",2)

In [34]:
data["Class"] = data["Class"].replace("Iris-virginica",2)
data["Class"] = data["Class"].replace("Iris-versicolor",1)
data["Class"] = data["Class"].replace("Iris-setosa",0)

In [18]:
from sklearn import svm
from sklearn.model_selection import train_test_split

In [35]:
Data = data.iloc[:,0:4]
target = data.iloc[:,4]

In [36]:
target

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Class, Length: 150, dtype: int64

In [37]:
X_train, X_test, y_train, y_test = train_test_split(Data, target, test_size=0.33)

In [38]:
SVM = svm.LinearSVC(random_state=0).fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [40]:
from sklearn.metrics import accuracy_score

Y_pred = SVM.predict(X_test)
print("LR Score "+str(accuracy_score(y_test, Y_pred)))

LR Score 1.0